.body {
    position: relative;
}

.color_div {
    height: 500px;
    margin: 1em;
    border-radius: 1em;
}

#summary {
    background-color: #3CFD9C;
    height: 550px;
}

#projects {
    font-family: "Comfortaa", sans-serif;
}

#aboutMe {
    font-family: "Comfortaa", sans-serif;
}

#contact {
    font-family: "Comfortaa", sans-serif;
}

#name {
    font-family: "Comfortaa", sans-serif;
}

#profPic {
    height: 200px;
    width: 200px;
    margin-left: 590px;
    margin-top: 110px;
    background-color: white;
    border-radius: 200px;
}

#name1 {
    font-family: "Open Sans", sans-serif;
    color: black;
    text-align: center;
    font-size: x-large;
}

#sums {
    font-family: "Open Sans", sans-serif;
    color: black;
    text-align: center;
    font-size: x-large;
}

.navbar {
    background-color: #1B2388;
}

#project1 {
    height: 300px;
    width: 300px;
}

#projIntro {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

#box1 {
    border-color: black;
    border-width: 2px;
}

#abootColor {
    background-color: #3CFD9C;
}

#aboot {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: black;
}

#stuff {
    text-align: center;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: large;
}

#title1 {
    text-align: center;
}